Repository TooTallNate/proxy-agents, pull requests merged in 2023-05, with the labels that each got.

#154 [https-proxy-agent] Emit "proxyConnect" event on HTTP `req`
  .changeset/blue-buses-build.md
  packages/https-proxy-agent/src/index.ts
  packages/https-proxy-agent/src/parse-proxy-response.ts
  packages/https-proxy-agent/test/test.ts
Labels: https-proxy-agent

#166 Pass `localAddress` for "request" and "connect"
  .changeset/itchy-ravens-leave.md
  packages/proxy/src/proxy.ts
Labels: proxy

#170 [agent-base] Allow for never relying on stack trace
  .changeset/seven-horses-buy.md
  packages/agent-base/src/helpers.ts
  packages/agent-base/src/index.ts
  packages/agent-base/test/test.ts
Labels: agent-base

#178 [proxy] Ensure that `socket.remoteAddress` is a string
  .changeset/shiny-badgers-obey.md
  packages/proxy/src/proxy.ts
Labels: proxy

#175 Support headers for `http-proxy-agent`
  .changeset/unlucky-cows-listen.md
  packages/http-proxy-agent/README.md
  packages/http-proxy-agent/src/index.ts
  packages/http-proxy-agent/test/test.ts
Labels: http-proxy-agent

#190 [http-proxy-agent] Fix `keepAlive: true`
  .changeset/four-carrots-help.md
  packages/http-proxy-agent/src/index.ts
  packages/http-proxy-agent/test/test.ts
Labels: http-proxy-agent

#188 Remove `secureProxy` getter
  .changeset/lovely-phones-kick.md
  packages/http-proxy-agent/src/index.ts
  packages/http-proxy-agent/test/test.ts
  packages/https-proxy-agent/src/index.ts
  packages/https-proxy-agent/test/test.ts
Labels: http-proxy-agent, https-proxy-agent
