Repository TooTallNate/proxy-agents, pull requests merged in 2023-07, with the labels that each got.

#212 [https-proxy-agent] Slice the headers when parsing proxy server response
  .changeset/gentle-panthers-stare.md
  packages/https-proxy-agent/src/parse-proxy-response.ts
  packages/proxy/src/proxy.ts
Labels: https-proxy-agent

#224 Use `quickjs-emscripten` instead of `vm2` to execute PAC file code
  .changeset/chatty-roses-wink.md
  .changeset/new-goats-arrive.md
  packages/degenerator/package.json
  packages/degenerator/src/compile.ts
  packages/degenerator/src/degenerator.ts
  packages/degenerator/src/index.ts
  packages/degenerator/test/test.ts
  packages/pac-proxy-agent/package.json
  packages/pac-proxy-agent/src/index.ts
  packages/pac-resolver/README.md
  packages/pac-resolver/package.json
  packages/pac-resolver/src/index.ts
  packages/pac-resolver/test/test.ts
  pnpm-lock.yaml
Labels: degenerator, pac-proxy-agent, pac-resolver

#226 [degenerator] Update escodegen
  .changeset/flat-cherries-watch.md
  packages/degenerator/package.json
  pnpm-lock.yaml
Labels: degenerator
