Repository TooTallNate/proxy-agents, pull requests merged in 2024-02, with the labels that each got.

#279 chore: update fs-extra to v11
  .changeset/hip-chicken-attack.md
  packages/get-uri/package.json
  pnpm-lock.yaml
Labels: get-uri

#281 [pac-resolver] Remove `ip` dependency
  .changeset/heavy-planets-stare.md
  packages/pac-resolver/package.json
  packages/pac-resolver/src/ip.ts
  packages/pac-resolver/src/myIpAddress.ts
  pnpm-lock.yaml
Labels: pac-resolver

#289 fix: `URL` imports for Node 14
  .changeset/strong-cups-listen.md
  packages/http-proxy-agent/src/index.ts
  packages/https-proxy-agent/src/index.ts
Labels: http-proxy-agent, https-proxy-agent
